* { box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/*.container > * {
  display: inline-block;
  vertical-align: top;
}*/

.container {
  display: flex;
}

nav {
  background-color: grey;
  width: 30%;
  /* hack for full page length div */
  min-height: 100vh;
}

nav li {
  list-style: none;
  margin-bottom: 5px;
  background-color: orange;
}

main {
  background-color: pink;
  width: 70%;
}

.content {
  padding: 1em;
}

.top-nav {
  background-color: plum;
}
